In [1]:
import pandas as pd
import numpy as np
import json

pd.set_option('max_colwidth', 400)

In [2]:
contacts_df = pd.read_excel('Resources/contacts.xlsx')
crowd_df = pd.read_excel('Resources/crowdfunding.xlsx')

In [3]:
crowd_df

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2986,3684,Manning-Hamilton,Vision-oriented scalable definition,97300,153216,successful,2043,US,USD,1609221600,1622350800,False,True,food/food trucks
996,2031,5784,Butler LLC,Future-proofed upward-trending migration,6600,4814,failed,112,US,USD,1634274000,1638252000,False,False,theater/plays
997,1627,1498,Ball LLC,Right-sized full-range throughput,7600,4603,canceled,139,IT,EUR,1636174800,1639116000,False,False,theater/plays
998,2175,6073,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600,37823,failed,374,US,USD,1602133200,1618117200,False,True,music/indie rock
999,1788,4939,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100,62819,canceled,1122,US,USD,1609308000,1629262800,False,False,food/food trucks

In [4]:
# data prep -- the contacts_df needs to be properly parsed.
column_names = ['contact_id', 'first_name', 'last_name', 'email']

rows = []

for row in contacts_df[3:].iterrows():
    rows.append(row[1].iloc[0])

In [5]:
rows[:5]

['{"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}',
 '{"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}',
 '{"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}',
 '{"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}',
 '{"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}']

In [6]:
json_rows = []

for row in rows:
    json_rows.append(json.loads(row))

In [7]:
json_rows[:5]

[{'contact_id': 4661,
  'name': 'Cecilia Velasco',
  'email': 'cecilia.velasco@rodrigues.fr'},
 {'contact_id': 3765,
  'name': 'Mariana Ellis',
  'email': 'mariana.ellis@rossi.org'},
 {'contact_id': 4187,
  'name': 'Sofie Woods',
  'email': 'sofie.woods@riviere.com'},
 {'contact_id': 4941,
  'name': 'Jeanette Iannotti',
  'email': 'jeanette.iannotti@yahoo.com'},
 {'contact_id': 2199,
  'name': 'Samuel Sorgatz',
  'email': 'samuel.sorgatz@gmail.com'}]

In [8]:
contacts_df = pd.DataFrame(json_rows)

contacts_df.head()

   contact_id               name                         email
0        4661    Cecilia Velasco  cecilia.velasco@rodrigues.fr
1        3765      Mariana Ellis       mariana.ellis@rossi.org
2        4187        Sofie Woods       sofie.woods@riviere.com
3        4941  Jeanette Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel Sorgatz      samuel.sorgatz@gmail.com

In [23]:
names = []


for row in contacts_df['name']:
    fullname = row.split()
    fname, lname = fullname[0], fullname[1]
    names.append({'first_name': fname, 'last_name': lname})

In [30]:
names = pd.DataFrame(names)

In [29]:
print(contacts_df)

     contact_id                  name  \
0          4661       Cecilia Velasco
1          3765         Mariana Ellis
2          4187           Sofie Woods
3          4941     Jeanette Iannotti
4          2199        Samuel Sorgatz
..          ...                   ...
995        3684         Whitney Noack
996        5784  Gelsomina Migliaccio
997        1498   Evangelista Pereira
998        6073        Gareth Comolli
999        4939     Michelangelo Hess

                                         email
0                 cecilia.velasco@rodrigues.fr
1                      mariana.ellis@rossi.org
2                      sofie.woods@riviere.com
3                  jeanette.iannotti@yahoo.com
4                     samuel.sorgatz@gmail.com
..                                         ...
995             whitney.noack@laboratorios.org
996              gelsomina.migliaccio@junk.com
997  evangelista.pereira@thompson-peterson.biz
998                  gareth.comolli@tiscali.fr
999              michelangelo.hess@bouygtel.fr

[1000 rows x 3 columns]

In [31]:
print(names)

       first_name   last_name
0         Cecilia     Velasco
1         Mariana       Ellis
2           Sofie       Woods
3        Jeanette    Iannotti
4          Samuel     Sorgatz
..            ...         ...
995       Whitney       Noack
996     Gelsomina  Migliaccio
997   Evangelista     Pereira
998        Gareth     Comolli
999  Michelangelo        Hess

[1000 rows x 2 columns]